html{background:none;color:#333; width:100%; height:100%;}
body{font-size:13px;font-family:verdana,Microsoft YaHei,Tahoma,Arial; background-color:; height:100%; width:100%; color:#7f7f7f; overflow-x:hidden;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, b, i{font-style:normal;font-weight:normal;}
li{list-style-image:none;list-style-position: outside;list-style-type:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;vertical-align:baseline;zoom:1;}
input, textarea, select, button{font-size: 12px;font-weight:inherit; vertical-align:middle}
input[type=radio], input[type=checkbox]{vertical-align: middle; margin-right:5px;}
textarea{resize:none;}
input[type=text],input[type=password],textarea, input[type=text]:focus, input[type=password]:focus, textarea:focus, button, button:focus{-webkit-appearance:textfield;outline:0}
a{text-decoration:none; color:#ddd;}
a:focus{outline-style:none;outline-width:0;}
a:link, a:visited, a:active{text-decoration:none;}
a:hover{text-decoration:none;}
.clearfix:after {content: ".";display: block;height:0;clear: both;visibility:hidden}
.clearfix {zoom:1}
.aligncenter{text-align:center;}
.size17{font-size:17px;}
.size20{font-size:20px;}
.size14{font-size:14px;}
.size16{font-size:16px;}
.white{color:#fff;}
.margin10{margin-top:10px; margin-bottom:10px;}
.margin 20{margin-top:20px; margin-bottom:20px;}
.scale{width: 320px;height:100%;position:absolute;left:0;top:0;transform-origin:left bottom; }
.tr_scale{transform:scale(1);-webkit-transform:scale(1)}
.am_css{transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;}
.layout{width:100%; height:100%; position:relative; overflow-x:hidden;}

/*loading*/
.loading{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	background-color:#f3f2ee; 
}
.loading .loading-logo{
	position: absolute;
	top:20%;
	left:0;
	width: 100%;
	height: 226px;
	background: url(../css/loading_bg.png) no-repeat center/contain;
}
.loading .loading-text{
	position: absolute;
	top:calc(20% + 108px);
	left: 0;
	width: 100%;
	text-align:center;
}
.loading .loading-cloud{
	position: absolute;
	top:calc(20% + 100px);
	left: 0;
	width: 100%;
	height: 240px;
	background: url(../css/loading_cloud.png);
	background-position: 0, 0;
}
.loading .loading-copy{
	position: absolute;
	bottom:5px;
	left: 0; 
	width: 100%;
	text-align: center;
}
/*封面页*/
.item-warp {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.item-warp ul{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition:all ease-in-out 0.5s;  
	transition:all ease-in-out 0.5s;  
}
.item-warp ul li{
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	background:url(../css/cover_bg.png) no-repeat center/cover;
}
.item-warp ul li.cover{
	background:url(../css/cover_bg.png) no-repeat center/cover;
	display: block;
}
.text{
	position: absolute;
	top:20%;
	left: calc(50% - 89px); 
	width: 178px;
	height: 319px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.cover-text{
	background-image:url(../css/cover_text.png);
	width: 178px;
	height: 0;
}
.covertextan{
	-weblit-animation:coveranimation 8s both linear;
	animation:coveranimation 8s both linear;
}
@keyframes coveranimation{
	0%{height: 0px;}
	10%{height: 20px;}
	20%{height: 54px;}
	30%{height: 75px;}
	40%{height: 100px;}
	50%{height: 118px;}
	// 60%{height: 140px;}
	// 70%{height: 140px;}
	// 80%{height: 140px;}
	90%{height: 140px;}
	100%{height: 318px;}
}
/*选择男女页*/
.item-warp ul li.choose{
	background:url(../css/choose_bg.png) no-repeat center/cover;

}
.item-warp ul li.choose .choose-text{
	position: absolute;
	top:20%;
	left: calc(50% - 121px); 
	background:url(../css/choose_text.png) no-repeat center/cover;
	width: 262px;
	height: 57px;
}
.item-warp ul li.choose .btns{
	position: absolute;
	top:calc(20% + 87px);
	right:20%;
	left: 20%; 
	height: 146px;

}
.item-warp ul li.choose .btn-boy, .btn-girl{
	float: left;
	width: 72px;
	height: 146px;
	background:url(../css/choose_boy.png) no-repeat center/cover;

}
.item-warp ul li.choose .btn-girl{
	float: right;
	background-image:url(../css/choose_girl.png);
}


/*主页面*/
.item-warp ul li.main{
	background-image :url(../css/mainscene_bg.png);
}
.mc{
	position: absolute;
	left: 0;
	background-position: center;
	background-size: cover;
}
.item-warp ul li.main .main-zhongbian{
	display: none;
	left:calc(50% - 101px);
	bottom:406px;
	background-image :url(../css/mainscene_zhong_bian.png);
	width:202px;
	height: 48px;
}
.item-warp ul li.main .main-zhipingfeng{
	display: none;
	left:calc(50% - 142px);
	bottom:160px;
	background-image :url(../css/mainscene_zhi_hua.png);
	width:283px;
	height: 232px;
}
.item-warp ul li.main .main-ruibi{
	display: none;
	left:20%;
	bottom:224px;
	z-index: 99;
	background-image :url(../css/mainscene_rui_bi.png);
	width:22px;
	height: 48px;
}
.item-warp ul li.main .main-wenzhi{
	display: none;
	left:calc(50% - 65px);
	bottom:221px;
	z-index: 99;
	background-image :url(../css/mainscene_wen_zhi.png);
	width:130px;
	height: 15px;
}
.item-warp ul li.main .main-xingcat{
	display: none;
	left:10%;
	bottom:70px;
	z-index: 99;
	background-position: 0 0;
	background-image :url(../css/mainscene_xing_cat.png);
	width:69px;
	height: 70px;
}
.item-warp ul li.main .main-leaf1{
	display: none;
	left:20%;
	bottom:70%;
	background-position: 0 0;
	background-image :url(../css/leaf1.png);
	width:23px;
	height: 25px; 
}
.item-warp ul li.main .main-leaf2{
	display: none;
	left:50%;
	bottom:90%;
	background-position: 0 0;
	background-image :url(../css/leaf2.png);
	width:62px;
	height: 36px; 
}.item-warp ul li.main .main-leaf3{
	display: none;
	left:80%;
	bottom:50%;
	background-position: 0 0;
	background-image :url(../css/leaf3.png);
	width:30px;
	height: 38px; 
}
.item-warp ul li.main .btns{
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height: 71px;
}
.item-warp ul li.main .person{
	position: absolute;
	left: calc(50% - 70px);
	bottom: 150px;
	width: 143px;
	height: 271px;
	background:url(../css/ms_taijian.png) no-repeat left/cover;
}
.item-warp ul li.main .person.yayi{
	left: calc(50% - 82px);
	width: 164px;
	height: 252px;
	background:url(../css/ms_yayi.png) no-repeat left/cover;
}
.item-warp ul li.main .person.xianling{
	left: calc(50% - 95px);
	width: 191px;
	height: 263px;
	background:url(../css/ms_xianling.png) no-repeat left/cover;
}
.item-warp ul li.main .person.zaixiang{
	left: calc(50% - 61px);
	width: 122px;
	height: 246px;
	background:url(../css/ms_zaixiang.png) no-repeat left/cover;
}
.item-warp ul li.main .person.huangdi{
	left: calc(50% - 94px);
	width: 187px;
	height: 281px;
	background:url(../css/ms_huangdi.png) no-repeat left/cover;
}
.item-warp ul li.main .person.yatou{
	left: calc(50% - 76px);
	width: 152px;
	height: 251px;
	background:url(../css/ms_yatou.png) no-repeat left/cover;
}
.item-warp ul li.main .person.xiaojie{
	left: calc(50% - 68px);
	width: 135px;
	height: 250px;
	background:url(../css/ms_xiaojie.png) no-repeat left/cover;
}
.item-warp ul li.main .person.xiaozhu{
	left: calc(50% - 74px);
	width: 147px;
	height: 250px;
	background:url(../css/ms_xiaozhu.png) no-repeat left/cover;
}
.item-warp ul li.main .person.guifei{
	left: calc(50% - 106px);
	width: 211px;
	height: 255px;
	background:url(../css/ms_guifei.png) no-repeat left/cover;
}
.item-warp ul li.main .person.nvwang{
	left: calc(50% - 111px);
	width: 221px;
	height: 279px;
	background:url(../css/ms_nvwang.png) no-repeat left/cover;
}
.item-warp ul li.main .table{
	position: absolute;
	left: calc(50% - 151px);
	bottom: 120px;
	width: 302px;
	height: 114px;
	background:url(../css/mainscene_table.png) no-repeat center/cover;
}
.main .btns a.zhong{
	width:45px;
	height: 71px;
	display: block;
	background:url(../css/mainscene_zhong.png) center top/cover;
	float: left;
}
.main .btns a.zhi{
	width:45px;
	height: 71px;
	display: block;
	background:url(../css/mainscene_zhi.png) center top/cover;
	float: left;
}
.main .btns a.wen{
	width:45px;
	height: 71px;
	display: block;
	background:url(../css/mainscene_wen.png) center top/cover;
	float: left;
}
.main .btns a.xing{
	width:45px;
	height: 71px;
	display: block;
	background:url(../css/mainscene_xing.png) center top/cover;
	float: left;
}
.main .btns a.rui{
	width:45px;
	height: 71px;
	display: block;
	background:url(../css/mainscene_rui.png) center top/cover;
	float: left;
}
.main .btns a.renwushengji{
	position: absolute;
	right: 0;
	bottom: 0;
	width:92px;
	height: 111px;
	display: block;
	background:url(../css/mainscene_upgrade.png) center top/cover;
	float: left;
}
/*答题页*/
.item-warp ul li.dati{
	background-image:url(../css/answer_bg.png);
	/*子集第一项和最后一项有margin时产生bug的消除方法 */
	padding-top: 1px;

}
.item-warp ul li.dati .dati-wrap{
	width: 320px;
	height: 100%;
	padding-top: 1px;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.item-warp ul li.dati .title{
	font-size:16px;
	margin:30px auto 0; 
	width:260px;
}
.item-warp ul li.dati .result-options{
	width: 260px;
	margin:15px auto 0; 
	font-size: 14px;
}
.item-warp ul li.dati .result-options .opt{
	position: relative;
	margin-bottom: 20px;
	background-color: #e0ded7;
	line-height: 35px;
	padding: 15px 45px 15px 10px;
	overflow: hidden;
}
.item-warp ul li.dati .result-options .opt>div{
	display: none;
	position: absolute;
	top:calc(50% - 17px);
	right:2px ;
	width:39px ;
	height: 35px;
	margin-right: 6px;
	background:url(../css/answer_correct.png) center/cover;
}
.item-warp ul li.dati .result-options .opt>div.correct{
	background-image:url(../css/answer_correct.png);
}
.item-warp ul li.dati .result-options .opt>div.incorrect{
	background-image:url(../css/answer_wrong.png);
}
.item-warp ul li.dati .num-count{
	text-align: center;
}
/*结果页*/

.item-warp ul li.dati .dati-wrap .result{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(255, 255, 255, 0.8);
}
.item-warp ul li.dati .result .result-title{
	margin-top: 50px;
	font-size:38px;
	color: #ce3e3e;
}
.item-warp ul li.dati .result .result-text{
	font-size:18px;
	font-weight: bold;
	color: #333;
}
.item-warp ul li.dati .result  .result-wrap{
	position: absolute;
	left: calc(50% - 142px);
	top: 13%;
	width:284px ;
	height:284px;
	background:url(../css/answer_success_bg.png) center/cover;
	text-align: center;
}
.item-warp ul li.dati .result  .prop{
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat ;
	background-size: cover;
}
.item-warp ul li.dati .result  .prop.result-zhongbian{
	width:262px ;
	height:109px ;
	background-image: url(../css/answer_zhong.png);
}
.item-warp ul li.dati .result  .prop.result-zhipingfeng{
	width:202px ;
	height:140px ;
	background-image: url(../css/answer_zhi.png);
}
.item-warp ul li.dati .result  .prop.result-ruibi{
	width:100px ;
	height:140px ;
	background-image: url(../css/answer_rui.png);
}
.item-warp ul li.dati .result  .prop.result-xingcat{
	width:136px ;
	height:140px ;
	background-image: url(../css/answer_cat.png);
}
.item-warp ul li.dati .result  .prop.result-wenzhi{
	width:242px ;
	height:101px ;
	background-image: url(../css/answer_wen.png);
}

/*人物升级结果*/

.item-warp ul li.dati .result-person{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background:url(../css/pop_renwu_bg.png) 0 0/cover;
	text-align: center;
}
.item-warp ul li.dati .result-person-warp{
	padding-top: 1px;
}
.item-warp ul li.dati .result-person .result-person-title{
	margin-top: 160px;
	line-height: 75px;
	overflow: hidden;
	font-size: 42px;
	color: #ce3e3e;
}
.item-warp ul li.dati .result-person .result-person-subtitle{
	line-height: 25px;
	overflow: hidden;
	font-size: 12px;
	color: #333;
}
.item-warp ul li.dati .result-person .result-person-level{
	width:122px;
	height: 48px;
	margin: 20px auto;
	background:url(../css/upgrade_btn.png) center/cover;
	line-height: 48px;
	overflow: hidden;
	font-size: 30px;
	color: #f7f6f4;
}
/*答题失败结果页*/

.item-warp ul li.dati .dati-wrap .result-incorrect{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(255, 255, 255, 0.8);
}
.item-warp ul li.dati .result-incorrect .result-incorrect-title{
	margin-top: 50px;
	font-size:38px;
	color: #ce3e3e;
}
.item-warp ul li.dati .result-incorrect .result-incorrect-text{
	margin-top: 50px;
	font-size:18px;
	color: #333;
}
.item-warp ul li.dati .result-incorrect  .result-incorrect-wrap{
	position: absolute;
	left: calc(50% - 142px);
	top: 13%;
	width:284px ;
	height:284px;
	background:url(../css/answer_failed_bg.png) center/cover;
	text-align: center;
}